{% extends 'base.html.twig' %}

{% block title %}Evenements dans notre village
{% endblock %}

{% block body %}

<div class="container ">

    <div class="row justify-content-center">

        {% for evenement  in evenements %}
        {% set i = i + 1 %}

        <div class="accordion  col-6 mt-5 " id="accordionExample">

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{i}}" aria-expanded="true" aria-controls="collapseOne">
                        {{ evenement.title}} {{ evenement.createdAt | date('d/m/y')}} à
                        {{ evenement.createdAt | date('H:i')}}
                    </button>
                </h2>
                <div id="collapse{{i}}" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>{{ evenement.title}}.</strong>
                        {{ evenement.content}}
                        <div class="metadata">Ecrit le {{ evenement.createdAt | date('d/m/y')}} à
                            {{ evenement.createdAt | date('H:i')}}
                        </div>
                        <img src="{{ evenement.file}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}