{% extends 'base.html.twig' %}

{% block title %}Accueil Mairie
{% endblock %}

{% block body %}

{# {% set i=i+1 %}
{% set j=j+1 %} #}
<div class="container w-100 mt-5">
	<div class="row col-12 ">
		<div class="container col-6">
			<p>
				<h1 class="text-center">Les derniers évènements</h1>
			</p>
			<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

				<div class="carousel-inner  ">
					{% for evenement  in evenements %}
					<div class="carousel-item {% if i == 1 %} active {% endif %} " data-bs-interval="3000">
						<div class="card">
							<img src="{{ evenement.file}}" class=" img-fluid d-block ">
							<div class="card-body">
								<h5 class="card-title">{{ evenement.title}}</h5>
								<p class="card-text">{{ evenement.content}}</p>
								<a href="{{ path('evenements')}}" class="btn btn-primary">Go évènements</a>
							</div>
						</div>
					</div>
					{% set i=i+1 %}
					{% endfor %}
				</div>


			</div>
		</div>
		{# ACTUALITES #}
		<div class="container col-6 ">
			<p>
				<h1 class="text-center">Les dernières actualités</h1>
			</p>
			<div id="carouselExampleSlidesOnly2" class="carousel slide" data-bs-ride="carousel">

				<div class="carousel-inner  ">
					{% for actu  in actualites %}
					<div class="carousel-item {% if j == 1 %} active {% endif %} " data-bs-interval="3000">
						<div class="card">
							<img src="{{ actu.file}}" class=" img-fluid d-block ">
							<div class="card-body">
								<h5 class="card-title">{{ actu.title}}</h5>
								<p class="card-text">{{ actu.content}}</p>
								{# <a href="#" class="btn btn-primary">GO actualités</a> #}
								<a href="{{ path('actualites')}}" class="btn btn-primary">Go actualités</a>

							</div>
						</div>
					</div>
					{% set j=j+1 %}
					{% endfor %}
				</div>

			</div>
		</div>
	</div>
</div>


{% endblock %}