{% extends 'base.html.twig' %}

{% block title %}Administration
{% endblock %}
{% block body %}

{% form_theme formEvenement 'bootstrap_5_layout.html.twig'  %}
<div class="container w-75 bg-light">

	<div class="container text-center col-6">
		{{ form_start(formEvenement) }}
		{{form_row(formEvenement.title,{'attr':{'placeholder':'Titre de l\'actualité'}})}}
		{{form_row(formEvenement.content,{'attr':{'placeholder':'Contenu à entrer '}})}}
		{{form_row(formEvenement.file,{'attr':{'placeholder':'image à Uploader'}})}}

		<button type="submit" class="btn btn-success">Modifier </button>
		</button>

		{{ form_end(formEvenement) }}
	</div>
</div>
</div>{% endblock %}