<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	<style>
		.custom-line {
			min-height: 5rem;
			margin-top: 5em;
			/*background-color: RGBa(60, 240, 160, 0.7);*/
			/*Vert*/
		}

		/* Pour descendre le forumaire de contact */
		.custom-line-contact {
			margin-top: 10em;
		}

		.custom-line>.col {
			background-color: RGBa(60, 120, 240, 0.7);
			/*Bleu*/
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top ">

		<div class="container-fluid">
			<a class="navbar-brand text-light" href="{{ path('home')}}">Accueil</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active text-info" aria-current="page"
							href="{{ path('histoire')}}">Histoire</a>
					</li>
					<li class=" nav-item">
						<a class="nav-link text-info" href="{{ path('evenements')}}">Evenements</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-info" href="{{ path('actualites')}}">Actualites</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-info" href="{{ path('contact')}}">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-info" href="{{ path('inscription')}}">Inscription / Déconnexion</a>
					</li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="row custom-line">
		<div class="col-4 mx-auto text-center mt-50 pl-3  rounded-pill " style="width:70%">
			<img src=" ..\images\maxeville.png" class=" img-fluid  " alt=" maxeville">
		</div>

	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
	</script>
	{% block body %}{% endblock %}

</html>